<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cabinet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body ng-app="demo">
<div ng-controller="Clinics as ctrl" id="block">
    <div class="container-fluid">
        <div class="datagrid">
            <table>
                <thead>
                <tr>
                    <th width="40px">Ідентифікатор</th>
                    <th>Назва клініки</th>
                    <th>Адреса</th>
                    <th>Назва лікарні</th>
                    <th width="65px">
                        <button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                style="width: 63px">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in clinics">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.hospital.name}}</td>
                    <td scope="row">
                        <button type="button" class="btn-warning" data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.startUpdatingClinic(item.id, item.name, item.address, item.hospital.id)"
                                style="width: 30px">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn-danger" ng-click="ctrl.deleteClinic(item.id)"
                                style="width: 30px">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Добавлення</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Вкажіть назву клініки
                        <br>
                        <input type="text" id="ClinicName">
                        <br>
                        Вкажіть адресу клініки
                        <br>
                        <input type="text" id="ClinicAddress">
                        <br>
                        Вкажіть ідентифікатор лікарні
                        <br>
                        <input type="text" id="ClinicHospital">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.insertClinic()">Додати</button>
                    </div>
                </div>
            </div>
        </div>

        <!--обновленіє Building-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Обновлення</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>


                    <div class="modal-body">
                        Ідентифікатор
                        <br>
                        <input type="text" id="IdUPD" disabled>
                        <br>
                        Вкажіть назву клініки
                        <br>
                        <input type="text" id="NameUPD">
                        <br>
                        Вкажіть адресу клініки
                        <br>
                        <input type="text" id="AddressUPD">
                        <br>
                        Вкажіть ідентифікатор лікарні
                        <br>
                        <input type="text" id="HospitalUPD">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.updateClinic()">Оновити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/Clinic.js"></script>

</html>