<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Corps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body ng-app="demo">
<div ng-controller="AppCtrl as ctrl" id="block">
    <div class="container-fluid">
        <div class="datagrid">
            <table>
                <thead>
                <tr>
                    <th width="40px">Ідентифікатор</th>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>Адреса</th>
                    <th>Лікар з лікарні</th>
                    <th>Палата</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in request5_2">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.surname}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.hospitalDoctor.surname}}</td>
                    <td>{{item.cot.number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div  style="font-size: 20px"> Лікарня:
            <select id="Hospital" >
            </select>
        </div>
        <div  style="font-size: 20px"> Корпус:
            <select id="Corps">
            </select>
        </div>
        <div  style="font-size: 20px"> Відділення:
            <select id="Department" >
            </select>
        </div>
        <div  style="font-size: 20px"> Палата:
            <select id="Ward">
            </select>
        </div>
        <div  style="font-size: 20px"> Ліжко:
            <select id="Cot">
            </select>
        </div>

        <button  class="button-main" style="width: 90px; height: 50px; padding: 0px;font-size: 16px"
                 ng-click="ctrl.update_request()">
            Змінити
        </button>


    </div>
</div>
<br>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/request/request5_2.js"></script>

</html>